<!DOCTYPE html>
<html>
<head>
	<title>VISION</title>
	{% include 'bootstrap_import.html' %}
</head>
<body>
{% include 'navbar.html' %}
{% load crispy_forms_tags %}
	
	{% block content %}
	
		<form method="POST" action='.' enctype='multipart/form-data'> {% csrf_token %}

			<div class="col-2 text-center">
			
			{{form.image|as_crispy_field}}
			{{form.url|as_crispy_field}}
			
			<input type="submit" name="save" placeholder="Enter URL of image" value="Predict"/>
					
			</div>
		</form>
	
	{% endblock %}

	{% if ob.image.url %}
		<img src = {{ ob.image.url }} width="142"/>
		<h4> {{ ob.predict }} </h4>
	{% endif %}


</body>
</html>