<!DOCTYPE html>
<html>
<head>
	<title>VISION</title>
	{% include 'bootstrap_import.html' %}
</head>
<body>
{% include 'navbar.html' %}
{% load crispy_forms_tags %}
	
	{% block content %}
		
<div class="jumbotron jumbotron-fluid text-center">
	<div class="container">
			<form method="POST" action='.' enctype='multipart/form-data'> {% csrf_token %}

				<div class="col-6 ">
					
					{{form.image|as_crispy_field}}
					{{form.url|as_crispy_field}}
					
				<input type="submit" name="save" placeholder="Enter URL of image" value="Predict"/>
						
				</div>
			</form>
	
	{% endblock %}
	<br>
	<br>
	{% if ob.image.url %}
		<img src = {{ ob.image.url }} width="142"> 
		<p>{{  ob.predict  }}</p>
	{% endif %}
	</div>
</div>


</body>
</html>