<!DOCTYPE html>
<html>
<head>
	<title>VISION</title>
	{% include 'bootstrap_import.html' %}
</head>
<body>
{% include 'navbar.html' %}
{% load crispy_forms_tags %}
	
	{% block content %}
	
		<form method="POST" action='.' enctype='multipart/form-data'> {% csrf_token %}

			<div class="col-2 text-center">
				<!-- <table> -->
			{{form.image|as_crispy_field}}
			{{form.url|as_crispy_field}}
			<!-- <tr colspan=2> -->
			<input type="submit" name="save" placeholder="Enter URL of image" value="Predict"/>
					<!-- </tr> -->
				<!-- </table> -->
			</div>
		</form>
	
	{% endblock %}

	{% if ob.image.url %}
		<a href = {{ ob.image.url }} > last object image link</a>
		<p>{{ % ob.predict() % }}</p>
	{% endif %}


</body>
</html>